* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.frame {
    outline: 1px solid red;
}

.wrap-text {
    word-wrap: break-word;
}

@import './components/Accordion/accordion';
@import './components/Row/row';
@import './components/Col/col';
@import './components/Container/container';
@import './components/Modal/modal';
